:root {
    --squint-cream: #FAF8F2;
    --squint-pink: #F4C4B4;
    --squint-mango: #F48722;
    --squint-orange: #D84100;
    --squint-lavender: #D3D7F0;
    --squint-lavender: #D3D7F0;
    --squint-green: #006861;
    --squint-cream: #FAF8F2;
    --squint-black: #1E1E1E;
    --gray-4: #BDBDBD;
    --gray-3: #828282;
}
