---
import SquintButton from "@components/squintbutton/squintbutton.astro";

const { title = "test", button } = Astro.props;
---

<style>
  .hero {
    margin: 1rem 0;
  }
</style>
<div class="hero">
  <h1>{title}</h1>

  <br />
  <p></p>
  <SquintButton text={button.text} url={button.url} />
</div>
